body{
    background-color: black;
    width: 0 auto;
    text-align: center;
    color: white;
    font-family:Verdana, sans-serif;
}
.cta{
    color:aquamarine;
    font-size: 16px;
}
h1{
    font-size: 50px;
}
h2{
    
    font-size: 42px;
}
p{
    color:gray;
    font-size: 21px;
}
.footer{
    text-align: right;
}